{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": 0,
    "linebreak-style": "off",
    "consistent-return": "off",
    "no-useless-escape":"off",
    "no-unused-vars": "off",
    "func-names": "off"
}
}
